$primary-color: #ffffff;
$secondary-color: #8A6BF8;
$secondary-color-2: rgba(138, 107, 248, 0.9);
$black: #000000;
$section-bg: #1A1C20;
$icon-color: #7D7D7D;


// box-shadow: 0 2px 35px $secondary-color;