/* sticky navber */
header.main_menu_area {
    position: fixed;
    width: 100%;
}
.sticky {
    position: sticky;
    z-index: 50000 !important;
    transition: all .5s;
}
.sticky-scroll {
    background: linear-gradient(180deg, #3d4483 2%, #614abf 50%, #582dd3 97%);
    top: 0; 
    z-index: 50000 !important;
    position: sticky;
    transition: all .5s;
    box-shadow: 0 3px 8px $secondary-color;
}
a.nav-link {
    color: $primary-color;
    font-size: 18px;
    font-weight: 300;
    padding: 10px 20px !important;
}
a.nav-link:hover {
    color: $secondary-color;
}
a.navbar-brand img {
    max-width: 55px;
}
.nav-link:focus{
    color: $primary-color;
}
.navbar-toggler {
    border: none;
}
span.toggler-icon {
    background: #fff;
    height: 1px;
    width: 26px;
    padding: 0px;
    margin: 7px 0;
    display: block;
}
.navbar-toggler:focus {
    box-shadow: none;
}
@media (max-width: 991px) {
a.nav-link {
    text-align: center;
}

}
// Responsive CSS
@media (min-width: 1201px) {
    
}
@media only screen and (min-device-width: 992px) and (max-device-width: 1200px) {
    
}
@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
    
}
@media only screen and (min-device-width: 481px) and (max-device-width: 767px) {
    
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    
}